# =========================================================
# .gitignore for UiPath Studio projects
# Tailored for: uipath-mini-automations
# =========================================================

.local/
.settings/
.objects/
.entities/
.storage/
.tmh/

*.nupkg
Output/

~$*.xlsx
~$*.xls
~$*.docx
~$*.doc

*.log
Exception_Screenshots/

Data/Input/*
Data/Output/*
!Data/Input/.gitkeep
!Data/Output/.gitkeep

Desktop.ini
Thumbs.db
**/.DS_Store

*.swp
*.bak
*.tmp
